.container {
  position: relative;
  margin-top: 2%;
}

.backbutton-area,
.detailsarea,
.buttonarea,
.editorarea,
p-editor {
  position: relative;
  margin-top: 2%;
}

.head {
  font-size: 1.2rem;
  font-weight: bold;
}

.ins {
  font-size: 1.05rem;
  font-weight: bold;
  color: darkgreen;
}
